html {
    margin: 0;
    border: 0;
    height: 100%
}

body {
    padding-top: 70px;
    height: 100%;
}

a {
    color: gray;
}

a:focus,
a:hover {
    color: #464a4c;
    text-decoration: underline;
}

li {
    list-style-type: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgba(40.4%, 66.3%, 14.9%, 0.75);
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(40.4%, 66.3%, 14.9%);
    opacity: 0.75;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(40.4%, 66.3%, 14.9%);
    opacity: 0.75;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(40.4%, 66.3%, 14.9%, 0.75);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

.full_height {
    height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* JOKORD.LOGIN [START]*/

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 300px;
    background: #fff;
    color: #666;
}

#login button {
    font-size: 1em;
    padding: 0.3em 0.5em;
    cursor: pointer;
    background-color: #67a926;
    color: #fff;
    border-color: #4e7f10 !important;
}

#login button:hover {
    color: #fff;
    background-color: #4e7f10;
}

#login button:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#login .wellcome {
    color: #4e7f10;
    margin-right: 1em;
}

#login .invalid {
    box-shadow: -4px 8px 0px -7px rgba(70%, 5%, 5%, 0.75), 4px 8px 0px -7px rgba(70%, 5%, 5%, 0.75) !important;
}


/* JOKORD.LOGIN [END] */


/* JOKORD.MAP [START]*/

#map {
    height: 100%;
    width: 100%;
    background-color: #fff;
}


/* JOKORD.MAP [END] */


/* JOKORD.OVERVIEW.MAP [START] */

.ol-overviewmap {
    right: 0.5em;
    top: 0.5em;
}

.ol-overviewmap.ol-uncollapsible {
    bottom: 0;
    left: 0;
    border-radius: 0 1em 0 0;
}

.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
    display: inline-block;
}

.ol-overviewmap .ol-overviewmap-map {
    border: 0;
    height: 12em;
    margin: 0.25em;
    width: 12em;
    background-color: rgba(69%, 88.6%, 49.4%, 0.5);
}

.ol-overviewmap .ol-overviewmap-map:hover {
    background-color: rgba(69%, 88.6%, 49.4%, 0.75);
}

.ol-overviewmap button {
    cursor: pointer;
}

.ol-overviewmap:not(.ol-collapsed) button {
    top: 2px;
    right: 2px;
    position: absolute;
}

.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
    display: none;
}

.ol-overviewmap.ol-control button {
    border-color: #67a926 !important;
    background-color: #4e7f10 !important;
}

.ol-overviewmap.ol-control button:hover {
    background-color: #67a926 !important;
    border-color: #4e7f10 !important;
}

.ol-overviewmap-box {
    border: 2px solid rgba(255, 0, 0, 0.7);
}


/* JOKORD.OVERVIEW.MAP [END] */


/* JOKORD.MAP.ToolBar [Start] */

#toolbar {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
}

#toolbar button {
    padding: 0.25rem 0.5rem;
}

#toolbar button:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#toolbar button.active {
    padding: 0.25rem 0.5rem;
    color: #333;
    background-color: #b0e27e;
}

#toolbar button.btn-primary {
    border-color: #67a926;
    cursor: pointer;
    background-color: #4e7f10;
    color: #fff;
}

#toolbar .btn-primary:hover {
    background-color: #67a926;
    border-color: #4e7f10;
    color: #fff;
}


/* JOKORD.MAP.ToolBar [End] */


/* JOKORD.MAP.SearchBar [Start] */

.search-bar {
    min-width: 270px;
    max-width: 270px;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.selectize-input.selectize-focus {
    border-color: #b0e27e !important;
}

.search-bar .selectize-input {
    padding: 0.5em 0.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #333;
    white-space: nowrap;
}

.search-bar .selectize-input::after {
    border-color: #666 transparent transparent transparent !important;
}

.search-bar .selectize-dropdown {
    margin: 2.6em 0 0 0;
    background-color: #b0e27e;
}

.search-bar .selectize-dropdown .active,
.search-bar .selectize-dropdown .ui-select-choices-row:hover {
    background-color: #fff;
    color: #18481A;
}

.search-bar .selectize-dropdown .active .ui-select-highlight,
.search-bar .selectize-dropdown .ui-select-choices-row:hover .ui-select-highlight {
    color: #333;
}

.search-bar .selectize-dropdown .ui-select-highlight {
    color: #333;
}

.search-bar .selectize-dropdown-content {
    overflow-y: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
    font-weight: bold;
    color: #666;
    max-height: 220px;
}


/* JOKORD.MAP.SearchBar [End] */


/* JOKORD.Identify[START] */

.identify-container {
    position: absolute;
    top: 4em;
    left: 5px;
    background-color: rgba(100%, 100%, 100%, 0.8);
    border: 1px solid #333;
    border-radius: 2px;
    font-family: Courier New, Courier, monospace;
    min-width: 275px;
    max-width: 275px;
    max-height: 400px;
    overflow: auto;
}

.identify-container .title {
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    padding: 1px 2px;
    border-bottom: 1px solid #333;
    background-color: rgba(40.4%, 66.3%, 14.9%, .75);
}

.identify-container .no-results {
    font-size: 0.8em;
    text-align: center;
}

.identify-container .content {
    padding: 0 0.3em;
    background-color: #b0e27e;
}

.identify-container .content:not(:last-child) {
    border-bottom: 1px solid #18481A;
}

.identify-container .content .layer {
    padding: .3em 0;
}

.identify-container .content .layer li {
    line-height: 1em;
}

.identify-container .content .key {
    font-weight: bold;
    font-size: 0.65em;
}

.identify-container .content .value {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
}


/* JOKORD.Identify[End] */


/* JOKORD.ScaleLine[START] */

.ol-scale-line {
    bottom: 25px;
    left: 5px;
    background-color: #b0e27e;
}

.ol-scale-line>.ol-scale-line-inner {
    color: #333;
    border: 1px solid #333;
    border-top: none;
    font-family: Courier New, Courier, monospace;
    font-size: 0.8em;
    font-weight: bold;
}


/* JOKORD.ScaleLine[End] */


/* JOKORD.MAP.Bottom-Controls [Start] */

.bottom-bar-left {
    position: absolute;
    bottom: 1px;
    left: 5px;
}

.bottom-bar-right {
    position: absolute;
    bottom: 1px;
    right: 0px;
}

.bottom-bar-right .card {
    background-color: transparent;
    border-color: #333;
}

.bottom-bar-right .card-header {
    background-color: rgba(40.4%, 66.3%, 14.9%, 0.75);
    border-color: #333;
    text-align: center;
    padding: 0.1rem 0.1rem;
    font-size: 0.55rem;
    font-weight: bold;
}

.bottom-bar-right .card-block {
    padding: 0.1rem 0.1rem;
    font-size: 0.65rem;
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
    text-align: center;
    background-color: #b0e27e;
}

.box {
    background-color: #b0e27e;
    border-color: #333;
    border: 1px solid #333;
    border-radius: 2px;
    font-family: Courier New, Courier, monospace;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1px 2px;
}

.drag_zoom_box {
    border: 2px dashed #666;
    background-color: rgba(69%, 88.6%, 49.4%, 0.45);
}


/* JOKORD.MAP.Bottom-Controls [End] */


/* MAP CSS [END]*/


/* JOKORD.layout[Start] */

.no-padding {
    padding: 0;
}

.navbar {
    -webkit-box-shadow: 0px 1px 15px #67a926;
    -moz-box-shadow: 0px 1px 15px #67a926;
    box-shadow: 0px 1px 15px #67a926;
}


/* JOKORD.layout[End] */


/* JOKORD.Panel[Start] */

#menu-container .panel {
    padding: 0.25rem;
    border: 1px solid #67a926;
    border-top: 1px solid transparent;
}

#menu-container .panel .my-icon {
    background-image: url("../app/icons/tab-icons.png");
    height: 23px;
    width: 23px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: text-top;
}

#menu-container .panel .my-icon.my-icon-camadas {
    background-position: 0 0;
}

#menu-container .panel .my-icon.my-icon-legends {
    background-position: -23px 0;
}

#menu-container .panel .my-icon.my-icon-imprimir {
    background-position: -50px 0;
}

#menu-container .panel .my-icon.my-icon-basedoc {
    background-position: -73px 0;
}

#menu-container .panel a.active .my-icon {
    background-position-y: -23px;
}


/* JOKORD.Panel.Top [Start] */

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs> {
    margin-right: 2px;
}

.tabbable-line>.nav-tabs>a {
    margin-right: 0;
    color: #666;
}

.tabbable-line>.nav-tabs>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open,
.tabbable-line>.nav-tabs>a:hover {
    border: 1px solid #b0e27e;
    border-bottom: 3px solid #b0e27e;
    border-radius: 5px;
    color: #67a926;
}

.tabbable-line>.nav-tabs>a.active {
    border: 1px solid #b0e27e;
    border-bottom: 3px solid #b0e27e;
    border-radius: 5px;
    position: relative;
    background-color: #67a926;
    color: #fff;
}

.tabbable-line>.nav-tabs>a.active>a {
    border: 0;
    color: #333333;
}

.tabbable-line>.nav-tabs>a.active>a>i {
    color: #404040;
}

.tabbable-line>.tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #67a926;
    padding: 5px 0;
}

.nav-link {
    padding: 0.4em .7em;
}

.btn-hide {
    position: absolute !important;
    top: 0.5rem;
    right: 0.5rem;
}


/* JOKORD.Panel.Top [End] */


/* JOKORD.Panel.FancyTree [Start] */

.tree-container {
    height: calc(100vh - 12.5em);
    box-sizing: border-box;
    overflow: auto;
    margin-top: 0.5em;
}

ul.fancytree-container {
    height: calc(100vh - 16em);
    overflow: auto;
    border: 0;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif !important;
}

.tree-container li .fancytree-folder>.fancytree-title {
    color: #18481A;
    font-weight: 500;
}

.fancytree-checkbox {
    cursor: pointer;
}

span.fancytree-title {
    color: #333;
}

.fancytree-plain.fancytree-container span.fancytree-title:hover {
    background-color: #b0e27e;
}

span.fancytree-node span.fancytree-expander:hover {
    color: #67a926;
}

span.fancytree-node.fancytree-selected span.fancytree-expander:hover {
    color: #333;
}

.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected.fancytree-folder span.fancytree-title,
.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected:hover.fancytree-folder span.fancytree-title {
    background-color: #67a926;
    border-color: #67a926;
}

.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected.fancytree-folder,
.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected.fancytree-folder span.fancytree-title,
.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected:hover.fancytree-folder span.fancytree-title {
    background-color: #67a926;
    border-color: #67a926;
}

.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected,
.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected span.fancytree-title,
.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-selected:hover span.fancytree-title {
    background-color: #b0e27e;
    border-color: #b0e27e;
    color: #333333;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-focused span.fancytree-title {
    border-color: #67a926;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active span.fancytree-title {
    background-color: inherit;
    border-color: #b0e27e;
}

.fancytree-plain.fancytree-colorize-selected span.fancytree-node.fancytree-active.fancytree-selected span.fancytree-title {
    color: #333333;
}

.fancytree-plain.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active:hover span.fancytree-title {
    background-color: inherit;
}

.fancytree-plain.fancytree-colorize-selected.fancytree-treefocus span.fancytree-node.fancytree-active.fancytree-selected span.fancytree-title {
    color: #333333;
}

.fancytree-plain.fancytree-container span.fancytree-node.fancytree-active span.fancytree-title {
    background-color: inherit;
    color: #333333;
}

.fancytree-plain.fancytree-container.fancytree-ext-wide span.fancytree-node.fancytree-active {
    color: inherit;
}

.fancytree-plain.fancytree-container.fancytree-ext-wide span.fancytree-node.fancytree-active.fancytree-folder {
    color: inherit;
}

.fancytree-plain.fancytree-container.fancytree-ext-wide span.fancytree-node.fancytree-active.fancytree-folder span.fancytree-title {
    color: #18481A;
}

.fancytree-plain.fancytree-container span.fancytree-node.fancytree-active:hover span.fancytree-title {
    background-color: #b0e27e;
}

.fancytree-level-2 span.fancytree-title {
    padding-left: 6em !important;
}

.fancytree-level-2 span.fancytree-icon {
    margin-top: 3px !important;
    cursor: pointer;
}

.fancytree-container span.fancytree-node.layer-hidden,
.fancytree-container span.fancytree-node.layer-hidden .fancytree-title {
    color: #999 !important;
}

.fancytree-plain.fancytree-container span.fancytree-node.protected span.fancytree-title:after {
    font-family: FontAwesome;
    content: "\f023";
    padding-left: .2em;
}

.base-layer {
    position: absolute;
    bottom: 4.5em;
    right: 0.5em;
}

.base-layer button {
    font-size: 0.8em;
    padding: 0.2rem 0.2rem;
    min-width: 13em;
    cursor: pointer;
    background-color: #67a926;
    color: #fff;
    border-color: #4e7f10 !important;
}

.base-layer button:hover {
    color: #fff;
    background-color: #4e7f10;
}

.base-layer .btn-secondary:active,
.btn-secondary.active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #4e7f10;
    border-color: #adadad;
}

.base-layer .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 0.1rem;
    padding: 0.2rem 0;
    background-color: #b0e27e;
    color: #333;
    left: -1em;
}

.base-layer .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4e7f10;
}


/* JOKORD.Panel.FancyTree [End] */


/* JOKORD.Panel.BottomButtons [Start] */

.bottom-tree-commands {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 10px;
    border-color: #4e7f10;
    border-width: 0.15em;
    cursor: pointer;
    background-color: #67a926;
    color: #fff;
}

.btn-circle:hover {
    background-color: #4e7f10;
    border-color: #67a926;
    color: #fff;
}


/* JOKORD.Panel.BottomButtons [End] */


/* JOKORD.Panel.Legends [Start] */

.legends-container {
    height: calc(100vh - 12em);
    box-sizing: border-box;
    overflow: auto;
}

.legends-list {
    margin-top: 0.2em;
    font-size: 0.8em;
}

.legends-list>b {
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: 1.3em;
    color: #333333;
}

.legends-list:not(:first-child) {
    padding-top: 0.8em;
}

.legends-item {
    font-size: 1.1em;
    padding: 0.35rem 0.35rem;
    border-color: #4e7f10;
    color: #18481A;
}

.legends-item>.image-container {
    display: block;
    width: 100%;
}

.legends-item>.image-container>img {
    max-width: 95%;
    padding-left: 0.25rem;
}


/* JOKORD.Panel.Legends [End] */


/* JOKORD.Panel.Print [Start] */

#imprimir h5,
#imprimir h6 {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color: #333333;
}

#imprimir h6 {
    margin-top: 0.3em;
    font-size: 1em;
    color: #18481A;
    margin-bottom: 1em;
}

#imprimir section.print-content {
    padding: 0 1em;
}

#imprimir hr {
    border-top-color: #67a926;
    border-top-color: rgba(40.4%, 66.3%, 14.9%, 0.75);
}

#imprimir .subtitle {
    margin-top: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    color: #67a926;
}

#imprimir .draw-info {
    text-align: center;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1.2em;
    color: #333;
    min-height: 5.5em;
}

.drawing-commands {
    margin-top: 2em;
    text-align: center;
}

.drawing-commands .icon {
    background-position: 3px 3px;
    background-size: 1.75em 1.75em;
    background-repeat: no-repeat;
}

.drawing-commands .icon.point {
    background-image: url('../app/icons/points_20.png') !important;
}

.drawing-commands .icon.polygon {
    background-image: url('../app/icons/polygon_20.png') !important;
}

.drawing-commands .icon.line {
    background-image: url('../app/icons/line_20.png') !important;
}

.drawing-commands .icon.remove {
    background-image: url('../app/icons/close_20.png');
}

.nav-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
}

.nav-buttons button {
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    background-color: #67a926;
    color: #fff;
    border-color: #4e7f10 !important;
}

.nav-buttons button:hover {
    color: #fff;
    background-color: #4e7f10;
}

.my-form {
    padding-left: 1em;
    margin-top: 1em;
    padding-right: 1em;
}

.form-line {
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

.my-form .form-error {
    text-align: center;
    color: rgb(174, 0, 0);
}

.my-form .dropdown button {
    width: calc(100% - 2px);
    overflow-x: hidden;
    height: 17px;
    border: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: top;
    color: rgba(40.4%, 66.3%, 14.9%, 0.75);
    box-shadow: -8px 10px 0 -7px #ebebeb, 8px 10px 0 -7px #ebebeb;
}

.my-form .dropdown button.fr-selected {
    color: #666;
    outline: none;
    box-shadow: -4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75), 4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75);
}

.my-form .dropdown button:hover {
    cursor: pointer;
    background-color: #fff;
    color: rgba(40.4%, 66.3%, 14.9%, 0.75);
}

.my-form .dropdown button:focus {
    cursor: pointer;
    background-color: rgba(40.4%, 66.3%, 14.9%, 0.75);
    color: #fff;
}

.my-form .dropdown .dropdown-menu {
    background-color: #b0e27e;
    color: #333;
    margin-bottom: 0.1rem;
    padding: 0.2rem 0;
    overflow-y: auto;
    max-height: 13em;
    min-width: 25em;
    top: 75%;
    left: -50%;
    font-size: 0.75em;
    font-weight: bold;
}

.my-form .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #4e7f10;
    cursor: pointer;
}

.my-form input[type=text],
.my-form input[type=number],
.my-form input[type=password] {
    text-align: center;
    height: 17px;
    border: 0;
    width: calc(100% - 2px);
    margin-left: 1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
    color: #666;
}

.my-form input[type=text]:focus,
.my-form input[type=number]:focus,
.my-form input[type=password]:focus {
    outline: none;
    box-shadow: -4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75), 4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75);
}

.my-form input[type=text].ng-dirty.ng-not-empty,
.my-form input[type=number].ng-dirty.ng-not-empty,
.my-form input[type=password].ng-dirty.ng-not-empty {
    outline: none;
    box-shadow: -4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75), 4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75);
}

.my-form input[type=number].ng-invalid {
    box-shadow: -4px 8px 0px -7px rgba(70%, 5%, 5%, 0.75), 4px 8px 0px -7px rgba(70%, 5%, 5%, 0.75) !important;
}

.my-form .checkbox-container {
    padding: 0.3em 1.5em;
}

.my-form .checkbox label {
    cursor: pointer;
}

.my-form .checkbox label:after {
    content: '';
    display: table;
    clear: both;
}

.my-form .checkbox .cr {
    position: relative;
    display: block;
    border: 1px solid #666;
    border-radius: .25em;
    width: 1em;
    height: 1em;
    float: left;
    margin-right: .5em;
    margin-top: 0.2em;
}

.my-form .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .7em;
    line-height: 0;
    top: 50%;
    left: 10%;
}

.my-form .checkbox label input[type="checkbox"] {
    display: none;
}

.my-form .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.my-form .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
    color: #18481A;
}

.my-form .checkbox label input[type="checkbox"]:checked+.cr {
    border-color: #18481A;
}

.my-form .checkbox label input[type="checkbox"]:checked~.checkbox-title {
    color: #18481A;
}

.my-form .checkbox label input[type="checkbox"]:checked~.checkbox-info {
    color: #67a926;
}

.my-form .checkbox-title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.my-form .checkbox-info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.65em;
    color: #666;
    padding-left: 3em;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.65em;
    color: #666;
    padding-left: 3em;
}

#imprimir a.print {
    height: 17px;
    border: 0;
    width: calc(100% - 2px);
    margin-left: 1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

#imprimir a.print:hover,
#imprimir a.print:focus {
    outline: none;
    box-shadow: -4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75), 4px 8px 0px -7px rgba(40.4%, 66.3%, 14.9%, 0.75);
    text-decoration: none;
}


/* JOKORD.Panel.Print [End] */


/* JOKORD.Panel.BaseDocumental [Start] */

#documental h5 {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin-top: 0.5em;
    color: #333333;
}

#documental .bd-section {
    font-size: 0.9em;
    padding: 0.2em;
    padding-left: 1em;
    color: #18481A;
    cursor: pointer;
}

#documental .bd-section:before {
    content: "\002b"
}

#documental .bd-section:hover {
    color: #4e7f10;
}

#documental .bd-section.active {
    background-color: #67a926;
    border-color: #b0e27e;
    color: #fff;
}

#documental .bd-section.active:before {
    content: "\2212"
}

#documental .content {
    margin: 0.5em 1em;
}

#documental .bd-title {
    font-size: 0.75em;
    padding-left: 1.5em;
    color: #4e7f10;
    cursor: pointer;
}

#documental .bd-title:hover,
#documental .bd-title.active {
    color: #18481A;
}

#documental .subcategory-content {
    padding: 0.5em;
    cursor: auto;
}

#documental .float-my-children>* {
    float: left;
    margin-right: 5px;
}

#documental .subcategory-content a {
    cursor: pointer;
}


/* JOKORD.Panel.BaseDocumental [End] */


/* JOKORD.Panel[END] */


/* JOKORD.ToolTip[START] */

[data-tooltip],
.tooltip {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    pointer-events: none;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
.tooltip:hover:before,
.tooltip:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.tooltip:before,
[data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

.tooltip:after,
[data-tooltip]:after {
    z-index: 1000;
    padding: 2px;
    width: 120px;
    background-color: #b0e27e;
    color: #333;
    content: attr(data-tooltip);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    border-radius: 5px;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
    bottom: 100%;
    left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
    margin-left: -6px;
    margin-bottom: -12px;
    border-top-color: #000;
    border-top-color: #b0e27e;
}

[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
    margin-left: -60px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    transform: translateY(-12px);
}

.tooltip-bottom:before,
.tooltip-bottom:after {
    top: 75%;
    bottom: auto;
    left: 50%;
    font-size: 0.8rem;
}

.tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: #b0e27e;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
}

.tooltip-bl:before,
.tooltip-bl:after {
    top: 80%;
    bottom: auto;
    left: 120%;
    font-size: 0.8rem;
    text-align: center;
}

.tooltip-bl:before {
    margin-top: -12px;
    margin-bottom: 0;
    margin-left: -85%;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: #b0e27e;
}

.tooltip-bl:hover:before,
.tooltip-bl:hover:after,
.tooltip-bl:focus:before,
.tooltip-bl:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    transform: translateY(12px);
}


/* JOKORD.ToolTip[END] */


/* JOKORD.ERRORPAGE[START] */

.error {
    margin: 0 auto;
    text-align: center;
}

.error-code {
    bottom: 60%;
    color: #b0e27e;
    font-size: 96px;
    line-height: 100px;
}

.error-desc {
    font-size: 12px;
    color: #333;
}

.m-b-10 {
    margin-bottom: 20px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-t-20 {
    margin-top: 30px!important;
}


/* JOKORD.ERRORPAGE[END] */