<section id="tree-details-container" ng-class="{'visible': visible}">
  <div class="title text-center">
    <span>Árvore <b>{{tree.gid}}</b> - {{tree.parque || "Parque Indefinido"}}</span>
  </div>
  <div class="main-content">
    <div class="identificacao">
      <div class="subtitle"> Identificação </div>
      <ul>
        <li>Zona: <span>{{tree.zona || "Não Definida"}}</span></li>
        <li>Nome Científico: <span>{{ tree.cientifico || "Não Definido" }}</span></li>
        <li>Nome Comum: <span>{{ tree.comum || "Não Definido" }}</span></li>
        <li>Tipo: <span>{{ tree.tipo || "Não Definido" }}</span></li>
      </ul>
    </div>
    <div class="parametros">
      <div class="subtitle"> Parâmetros Dentrométricos </div>
      <ul>
        <li>Diâmetro: <span> {{ tree.diametro || "Não Definido" }} </span></li>
        <li>Altura: <span>{{ tree.altura || "Não Definida" }}</span></li>
        <li>Diâmetro Copa: <span>{{ tree.diametro_copa || "Não Definida" }}</span></li>
        <li>Idade Aproximada: <span>{{ tree.idade || "Não Definida" }}</span></li>
        <li>Ano de Plantação: <span>{{ tree.ano || "Não Definido" }}</span></li>
      </ul>
    </div>
    <div class="intervencoes">
      <div class="intervencoes-container">
        <div class="intervencoes-block">
          <div class="interventions-title"> Intervenções Activas </div>
          <div class="number success">{{ tree.open_interventions || 0 }} </div>
        </div>
        <div class="intervencoes-block">
          <div class="interventions-title"> Intervenções Fechadas </div>
          <div class="number danger">{{ tree.closed_interventions || 0 }}</div>
        </div>
      </div>
    </div>
    <div class="buttons-container">
      <a ng-href="/tree/{{tree.parque}}/{{tree.gid}}/interventions" ng-show="hasInterventions" type="button" class="btn btn-success"> Ver Intervenções </a>
      <a ng-href="/interventions/add?idTree={{tree.gid}}&park={{tree.parque}}" type="button" class="btn btn-success"> Adicionar Intervenção </a>
    </div>
  </div>
</section>