<div class="project project-success">
    <div class="project-content">
        <h2 class="lead">
            <span><b>PARQUE DAS PEDRAS SALGADAS</b> - Árvore {{moreInfoCtrl.inter.id_tree}}</span>
        </h2>
        <div class="container">
            <div class="row" style="margin-left:0px; margin-top:1em;">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-box">
                                <div class="content-box-title">
                                    <span><i class="fa fa-info"></i> &nbsp; Detalhe</span>
                                </div>
                                <div style="padding: 0.1em 0.5em;">
                                    <div><b>Identificador de Intervenção:</b> {{moreInfoCtrl.inter.id}}</div>
                                    <div><b>Tipo de Intervenção:</b> {{moreInfoCtrl.inter.id_type}}</div>
                                    <div><b>Prioridade:</b> <span>{{moreInfoCtrl.inter.priority}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="content-box">
                                <div class="content-box-title">
                                    <span><i class="fa fa-calendar"></i> &nbsp; Datas</span>
                                </div>
                                <div style="padding: 0.1em 0.5em;">
                                    <div><b>Data de Criação:</b> {{moreInfoCtrl.inter.created_at | date:'dd-MM-yyyy'}}</div>
                                    <div><b>Data Agendada:</b> {{moreInfoCtrl.inter.intervention_date | date:'dd-MM-yyyy'}}</div>
                                    <div><b>Data Finalização:</b> {{moreInfoCtrl.inter.finished_at | date:'dd-MM-yyyy'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="content-box">
                                <div class="content-box-title">
                                    <span><i class="fa fa-tree"></i> &nbsp; Árvore</span>
                                </div>
                                <div style="padding: 0.1em 0.5em;">
                                    <div><b>Identificador da Árvore:</b> {{moreInfoCtrl.inter.id_tree}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-12">
                        <div id="minimap" style="width:100%; height:90%;"></div>
                    </div>
                    <div class="offset-6 col-6" style="margin-top:1em;">
                        <div class="inter-buttons">
                            <a ng-href="/interv" class="btn btn-sm btn-success"><i class="fa fa-arrow-left"></i> Voltar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>