<div class="project" ng-class="{'project-success': intCardCtrl.intervention.state == 'ABERTA', 'project-danger': intCardCtrl.intervention.state == 'FECHADA'}">
    <div class="shape">
        <div class="shape-text">
            {{intCardCtrl.intervention.state}}
        </div>
    </div>
    <div class="project-content">
        <h2 class="lead">
            <span><b>PARQUE DAS PEDRAS SALGADAS</b> - Árvore {{intCardCtrl.intervention.id_tree}}</span>
        </h2>
        <div class="container">
            <div class="row" style="margin-left:0px; width:100%">
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-info"></i> &nbsp; Detalhe</span>
                        </div>
                        <div style="padding: 0.1em 0.5em;">
                            <div><b>Identificador de Intervenção:</b> {{intCardCtrl.intervention.id}}</div>
                            <div><b>Tipo de Intervenção:</b> {{intCardCtrl.intervention.id_type}}</div>
                            <div><b>Prioridade:</b> <span>{{intCardCtrl.intervention.priority}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-calendar"></i> &nbsp; Datas</span>
                        </div>
                        <div style="padding: 0.1em 0.5em;">
                            <div><b>Data de Criação:</b> {{intCardCtrl.intervention.created_at | date:'dd-MM-yyyy'}}</div>
                            <div><b>Data Agendada:</b> {{intCardCtrl.intervention.intervention_date | date:'dd-MM-yyyy'}}</div>
                            <div><b>Data Finalização:</b> {{intCardCtrl.intervention.finished_at | date:'dd-MM-yyyy'}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-tree"></i> &nbsp; Árvore</span>
                        </div>
                        <div style="padding: 0.1em 0.5em;">
                            <div><b>Identificador da Árvore:</b> {{intCardCtrl.intervention.id_tree}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <a ng-href="/interv/{{intCardCtrl.intervention.id}}/edit" class="btn btn-sm" ng-class="{'btn-success': intCardCtrl.intervention.state == 'ABERTA', 'btn-danger': intCardCtrl.intervention.state == 'FECHADA'}"><i class="fa fa-pencil"></i> Editar</a>
            <a ng-href="/interv/{{intCardCtrl.intervention.id}}/info" class="btn btn-sm" ng-class="{'btn-success': intCardCtrl.intervention.state == 'ABERTA', 'btn-danger': intCardCtrl.intervention.state == 'FECHADA'}"><i class="fa fa-plus"></i> Mais Informaçoes</a>
            <a ng-href="/interv/{{intCardCtrl.intervention.id}}/close" data-ng-if="intCardCtrl.intervention.state == 'ABERTA'" class="btn btn-sm btn-success"
                ng-click="intCardCtrl.closeIntervention()">Fechar Intervenção</a>
        </div>
    </div>
</div>