doctype html
html(lang='en' ng-app='unicerApp')
  head
    title Gestree - Unicer
    include views/layouts/head
  body(ng-cloak)
    nav.navbar.navbar-toggleable-md.fixed-top
      a.navbar-brand(href='#')
        img(src="/images/menu/logo.png" width="75" height="45")
    .container-fluid.no-padding.full-height
      .row.no-gutters.full-height
        #navigation.full-height(ng-class="{'col-3': navigationVisibility}")
          <side-nav></side-nav>
        #container.full-height(ng-view="" ng-class="navigationVisibility ? 'col-9' : 'col-12'")                 
    include views/layouts/footer