doctype html
html(lang='en' ng-app='unicerApp')
  head
    title Gestree - Unicer
    include views/layouts/head
  body(ng-cloak)
    nav.navbar.navbar-toggleable-md.fixed-top
        a.navbar-brand(href='#')
            img(src="/images/menu/logo.png" width="75" height="45")
    .container-fluid.no-padding.full_height
        .row.no-gutters.full_height
            #menu-container.col-3.full_height
                control-panel
            #container.full_height.col-9(ng-view="")                 
    include views/layouts/footer