<div id="toolbar" role="group" class="btn-group">
    <button ng-show="itCtrl.menuIsHidden" ng-click="itCtrl.showMenu()" type="button" class="btn btn-primary">
        <i class="fa fa-arrow-right"></i>
    </button>
    <button ng-click="itCtrl.setDefaultView()" type="button" class="btn btn-secondary" style="cursor: pointer">
        <i class="fa fa-globe"></i>
    </button>
    <button ng-click="itCtrl.setInteraction('DragPan')" ng-class="{active: itCtrl.isActive('DragPan')}" type="button" class="btn btn-secondary tooltip-bottom"
        data-tooltip="Mover">
        <i class="fa fa-hand-paper-o"></i>
    </button>
    <button ng-click="itCtrl.setInteraction('ZoomIn')" ng-class="{active: itCtrl.isActive('ZoomIn')}" type="button" class="btn btn-secondary tooltip-bottom"
        data-tooltip="Aproximar">
        <i class="fa fa-search-plus"></i>
    </button>
    <button ng-click="itCtrl.setInteraction('ZoomOut')" ng-class="{active: itCtrl.isActive('ZoomOut')}" type="button" class="btn btn-secondary tooltip-bottom"
        data-tooltip="Afastar">
        <i class="fa fa-search-minus"></i>
    </button>
    <button ng-click="itCtrl.setInteraction('ZoomBox')" ng-class="{active: itCtrl.isActive('ZoomBox')}" type="button" class="btn btn-secondary tooltip-bottom"
        data-tooltip="Zoom Caixa">
            <i class="fa fa-expand"></i>
    </button>
    <button ng-click="itCtrl.setInteraction('Identify')" ng-class="{active: itCtrl.isActive('Identify')}" type="button" class="btn btn-secondary tooltip-bottom"
        data-tooltip="Identificar">
            <i class="fa fa-info" style="padding: 0em 0.25em"></i>
    </button>
    <ui-select ng-controller="LocationController as locCtrl" on-select="locCtrl.onSelectCallback($model)" ng-model="locCtrl.location.selected"
        theme="selectize" class="search-bar" title="Escolha um local">
        <ui-select-match placeholder="Selecione uma Localidade...">{{$select.selected.properties.nome}}</ui-select-match>
        <ui-select-choices repeat="location in locCtrl.locations | filter: {properties: {nome: $select.search}} | limitTo : 10">
            <span ng-bind-html="location.properties.nome | highlight: $select.search"></span>
        </ui-select-choices>
    </ui-select>
</div>
<section class="identify-container" ng-show="itCtrl.isActive('Identify')" ng-controller="LayerResultsController as lrCtrl">
    <div class="title">{{lrCtrl.title}}</div>
    <div class="content" ng-hide="lrCtrl.hasResults()">
        <div class="no-results">Não foram encontrados resultados.</div>
    </div>
    <div ng-repeat="result in lrCtrl.results" class="content">
        <div class="layer">
            <div ng-repeat="feature in result.features">
                <li ng-repeat="(key, value) in feature.properties">
                    <span class="key">{{key | uppercase}}:</span>
                    <span class="value">{{value | capitalize}}</span>
                </li>
            </div>
        </div>
    </div>
</section>
<section class="bottom-bar-left">
    <div class="box">Acção Selecionada: {{itCtrl.currentInteraction}}</div>
</section>
<section class="bottom-bar-right">
    <div class="card" style="width: 12rem;">
        <div class="card-header">
            WGS 84
        </div>
        <div class="card-block">
            <div class="card-text" id="coordinate4326"></div>
        </div>
    </div>
    <div class="card" style="width: 12rem;">
        <div class="card-header">
            Datum 73 / Portuguese Grid
        </div>
        <div class="card-block">
            <div class="card-text" id="coordinate27493"></div>
        </div>
    </div>
</section>