<div class="project" ng-class="{'project-success': intItemCtrl.intervention.state == 'ABERTA', 'project-danger': intItemCtrl.intervention.state == 'FECHADA'}">
    <div class="shape">
        <div class="shape-text">
            {{intItemCtrl.intervention.state}}
        </div>
    </div>
    <div class="project-content">
        <h2 class="lead">
            <span><b>PARQUE DE {{intItemCtrl.intervention.parque | uppercase }}</b> - Árvore {{intItemCtrl.intervention.id_tree}}</span>
        </h2>
        <div class="container">
            <div class="row" style="margin-left:0px; width:100%">
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-info"></i> &nbsp; Detalhe de Intervenção</span>
                        </div>
                        <div style="padding: 0.3em 0.5em;">
                            <div><b>Identificador:</b> {{intItemCtrl.intervention.id}}</div>
                            <div><b>Tipo:</b> {{intItemCtrl.intervention.type}}</div>
                            <div><b>Prioridade:</b> <span>{{intItemCtrl.intervention.priority}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-calendar"></i> &nbsp; Datas</span>
                        </div>
                        <div style="padding: 0.3em 0.5em;">
                            <div><b>Agendada para:</b> {{ intItemCtrl.intervention.season }} de {{intItemCtrl.intervention.year}}</div>
                            <div><b>Periodicidade:</b> {{ intItemCtrl.intervention.periodicity || "-" }}</div>
                            <div><b>Data Fecho:</b> {{intItemCtrl.intervention.closed_at || "-" | date:'dd/MM/yyyy' }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="content-box">
                        <div class="content-box-title">
                            <span><i class="fa fa-tree"></i> &nbsp; Árvore</span>
                        </div>
                        <div style="padding: 0.3em 0.5em;">
                            <div><b>Identificador:</b> {{ intItemCtrl.intervention.id_tree }}</div>
                            <div><b>Zona:</b> {{ intItemCtrl.intervention.zone || "-" }}</div>
                            <div><b>Idade Aproximada:</b> {{ intItemCtrl.intervention.age || "-" }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: right;">
            <button ng-click="edit()" class="btn btn-sm" ng-class="{'btn-success': intItemCtrl.intervention.state == 'ABERTA', 'btn-danger': intItemCtrl.intervention.state == 'FECHADA'}"><i class="fa fa-pencil"></i> Editar</button>
            <button ng-click="info()" class="btn btn-sm" ng-class="{'btn-success': intItemCtrl.intervention.state == 'ABERTA', 'btn-danger': intItemCtrl.intervention.state == 'FECHADA'}"><i class="fa fa-plus"></i> Mais Informaçoes</button>
            <button ng-click="close()" class="btn btn-sm btn-success" data-ng-if="intItemCtrl.intervention.state == 'ABERTA'">Fechar Intervenção</button>
        </div>
    </div>
</div>