<div class="project project-success">
  <div class="project-content">
    <h2 class="lead">
      <span><b>PARQUE DE {{ intervention.parque | uppercase }}</b> - Árvore {{intervention.id_tree}}</span>
    </h2>
    <div class="container">
      <div class="row">
        <div class="col-6" style="padding: 0.5em;">
          <div class="content-box" style="height: 70vh;">
            <div class="content-box-title">
              <span><i class="fa fa-info"></i> &nbsp; <b>Dados da Intervenção</b></span>
            </div>
            <section class="input-filter">
              <div class="title">Identificador da Intervenção</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.id || "N/D"}}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Tipo de Intervenção</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.value_type || "N/D"}}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Priority</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.priority || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Período Agendado</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.season || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.year || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Data de Fecho</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.closed_at | date:" dd/MM/yyyy " || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Periodicidade</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.periodicity || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Equipa</div>
              <div class="input-filter-content auto-margin">
                <span>{{ intervention.team || "N/D" }}</span>
              </div>
            </section>
            <section class="input-filter">
              <div class="title">Comentários</div>
              <div class="input-filter-content auto-margin" style="overflow-y: auto; max-height: 80px;">
                <span>{{ intervention.comments || "N/D" }}</span>
              </div>
            </section>
          </div>
        </div>
        <div class="col-6" style="padding: 0.5em;">
          <div class="content-box">
            <div class="content-box-title">
              <span><i class="fa fa-times-circle"></i> &nbsp; Dados de Fecho de Intervenção</span>
            </div>
            <form name="interForm">
              <section class="input-filter">
                <div class="title">Selecione a data de fecho da intervenção</div>
                <div class="input-filter-content auto-margin" style="min-width:unset; width:70%">
                  <md-datepicker required name="date_finish" ng-model="intervention.closed_at" md-open-on-focus md-placeholder="DD/MM/AAAA"></md-datepicker>
                </div>
              </section>
              <div class="text-center" style="margin: 5px auto;">
                <button ng-click="back()" type="button" class="btn btn-sm btn-success"><i class="fa fa-arrow-left"></i> Voltar Atrás</button>
                <button type="submit" class="btn btn-sm btn-success" ng-click="close(interForm)">Fechar Intervenção</button>
              </div>
            </form>
          </div>
          <section class="text-center" style="margin: 5px auto;">
            <div ng-messages="interForm.date_finish.$error" ng-if="interForm.$submitted" style="color:maroon" role="alert">
              <div class="text-center alert alert-danger" ng-message="required">É necessária a escolha de uma data de finalização.</div>
            </div>
            <div ng-if="error" class="text-center alert alert-danger">{{error}}</div>
            <div ng-if="message" class="text-center alert alert-success">{{message}}</div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>