<section class="print-container">
    <h5>Filtros de Impressão</h5>

    <!-- Parque (Dropdown) -->
    <section class="input-filter">
        <div class="title">Parque: </div>
        <div class="input-filter-content">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{printCtrl.reqObject.parque || '--' }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" ng-repeat="parque in printCtrl.defaults.parques" ng-click="printCtrl.setParque(parque)"><a>{{parque}}</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Conteúdo (Dropdown) -->
    <section class="input-filter">
        <div class="title">Conteúdo da Impressão: </div>
        <div class="input-filter-content">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{printCtrl.reqObject.content || '--' }} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" ng-repeat="content in printCtrl.defaults.contents" ng-click="printCtrl.setContent(content)"><a>{{content}}</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- ? Se Tipo="Intervenções" (Dropdown) -->

    <!-- Época de Intervenção (Dropdown) -->
    <section class="input-filter-alt" ng-show="printCtrl.interFilters">
        <div class="input-filter-inline">
            <div class="title">Época Agendada: </div>
            <div class="input-filter-content-alt">
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{printCtrl.reqObject.season || '--'}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" ng-repeat="season in printCtrl.defaults.seasons" ng-click="printCtrl.setSeason(season)"><a>{{season}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Ano de Intervenção (Dropdown) -->
        <div class="input-filter-inline">
            <div class="title">Ano Agendado: </div>
            <div class="input-filter-content-alt">
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{ printCtrl.reqObject.year || '--'}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" ng-repeat="year in printCtrl.defaults.years" ng-click="printCtrl.setYear(year)"><a>{{year}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Formato (Dropdown) -->
    <section class="input-filter">
        <div class="title">Formato: </div>
        <div class="input-filter-content">
            <div class="dropdown">
                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{printCtrl.reqObject.format || '--'}} <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="dropdown-item" ng-repeat="format in printCtrl.defaults.formats" ng-click="printCtrl.setFormat(format)"><a>{{format}}</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Progress Spinner -->
    <section style="text-align: center" ng-hide="true">
        <hr>
        <i class="fa fa-spinner fa-spin" style="font-size: 2.5em; color:rgb(92, 184, 92)"></i>
        <hr>
        <p>Processando o seu pedido de impressão.</p>
        <p>Por favor, aguarde.</p>
    </section>

    <!-- Links de Impressão -->
    <section ng-hide="true">
        <div class="draw-info">O ficheiro requesitado está disponível para download no link abaixo.</div>
        <ul>
            <li style="padding: 0.2em;">
                <i class="fa fa-file-pdf-o"></i>
                <a class="print-link"><span> Ficheiro1.pdf </span></a>
            </li>
            <li style="padding: 0.2em;">
                <i class="fa fa-file-excel-o"></i>
                <a class="print-link"><span> Ficheiro1.csv </span></a>
            </li>
        </ul>
    </section>

    <!-- Imprimir (Button) -->
    <section class="bottom-tree-commands">
        <button ng-hide="true" type="button" class="btn btn-success">
            <i class="fa fa-refresh"> Nova Impressão </i>
        </button>
        <button type="button" class="btn btn-success">
            <i class="fa fa-print"> Imprimir </i>
        </button>
    </section>
</section>