<div class="panel">
    <div class="tabbable-line">
        <ul id="lefttopmenutabs" role="tablist" class="nav nav-tabs">
            <a data-toggle="tab" data-tooltip="Camadas" data-target="#layers" ng-click="tc.setTab(1);tc.showMap()" href="/layers" role="tab"
                class="nav-item nav-link tooltip-bl active"><i class="my-icon my-icon-camadas"></i></a>
            <a data-toggle="tab" data-tooltip="Legenda" data-target="#legenda" ng-click="tc.setTab(2);tc.showMap()" href="/legenda" role="tab"
                class="nav-item nav-link tooltip-bl"><i class="my-icon my-icon-legends"></i></a>
            <a data-toggle="tab" data-tooltip="Intervenções" data-target="#inter" ng-click="tc.setTab(3);tc.hideMap();" href="/interv"
                role="tab" class="nav-item nav-link tooltip-bl"><i class="my-icon my-icon-tree"></i></a>
            <span ng-show="tc.selectedTab!=3">
                <button type="button" ng-click="tc.hideMenu()" class="btn btn-secondary btn-circle btn-hide">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </span>
        </ul>
        <div id="tabcontent" class="tab-content">
            <div id="layers" role="tabpanel" class="tab-pane active">
                <div class="tree-container">
                    <div id="tree" class="panel-body fancytree-plain fancytree-colorize-selected fancytree-fade-expander"></div>
                </div>
                <div class="bottom-tree-commands">
                    <button data-tooltip="Expandir" ng-click="tc.expandTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-expand"></i>
                    </button>
                    <button data-tooltip="Colapsar" ng-click="tc.collapseTree()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-compress"></i>
                    </button>
                    <button data-tooltip="Limpar" ng-click="tc.deselectAll()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-minus-square"></i>
                    </button>
                    <button data-tooltip="Ajuda" ng-click="tc.help()" class="btn btn-secondary btn-circle">
                        <i class="fa fa-question"></i>
                    </button>
                </div>
                <section class="base-layer" ng-controller="BaseLayerController as blCtrl">
                    <span class="dropup">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{blCtrl.baseLayer}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="" ng-repeat="baseLayer in blCtrl.baseLayers" ng-click="blCtrl.setBaseLayer(baseLayer)">{{baseLayer.name}}</a>
                        </div>
                    </span>
                </section>
            </div>
            <div id="legenda" role="tabpanel" class="tab-pane">
                <legends-group></legends-group>
            </div>
            <div id="inter" role="tabpanel" class="tab-pane">
                <section ng-controller="TabInterventionsController as tbInterCtrl">
                    <div class="clear-filter-button" style="height: 5vh; text-align: right;">
                        <button type="button" ng-click="tbInterCtrl.resetFilter()" class="btn btn-sm btn-success">Limpar Filtros</button>
                    </div>
                    <div class="inter-container">
                        <div class="title"><b>Filtos de Intervenção</b></div>
                        <section class="radio-filter">
                            <div class="title">Parque</div>
                            <div class="radio-filter-content">
                                <div class="radio radio-primary">
                                    <input type="radio" name="parque" id="parque1" value="pedras_salgadas" ng-model="filterData.parque">
                                    <label for="parque1">Pedras Salgadas - Spa & Nature Park</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="parque" id="parque2" value="vidago_palace" ng-model="filterData.parque">
                                    <label for="parque2">Palace Vidago Hotel</label>
                                </div>
                            </div>
                        </section>
                        <section class="input-filter">
                            <div class="title">Árvore</div>
                            <div class="input-filter-content">
                                <div class="input-group input-group-sm" style="width: 50%">
                                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tree"></i></span>
                                    <input type="text" ng-pattern="/^(\d)+$/" class="form-control" ng-model="filterData.id_tree" placeholder="Identificador"
                                        aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </section>
                        <section class="radio-filter">
                            <div class="title">Estado</div>
                            <div class="radio-filter-content-inline">
                                <div class="radio radio-primary">
                                    <input type="radio" name="estado" id="estado_aberta" value="aberta" ng-model="filterData.state">
                                    <label for="estado_aberta">Aberta</label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="estado" id="estado_fechada" value="fechada" ng-model="filterData.state">
                                    <label for="estado_fechada">Fechada</label>
                                </div>
                            </div>
                        </section>
                        <section class="input-filter">
                            <div class="title">Tipo de Intervenção</div>
                            <div class="input-filter-content">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{tbInterCtrl.selInterType}} <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" ng-repeat="type in tbInterCtrl.interTypes" ng-click="tbInterCtrl.setInterType(type)"><a>{{type}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="radio-filter">
                            <div class="title">Prioridade</div>
                            <div class="radio-filter-content-inline">
                                <div class="radio radio-primary">
                                    <input type="radio" name="priority1" id="priority1" value="1" ng-model="filterData.priority">
                                    <label for="priority1">1</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" name="priority2" id="priority2" value="2" ng-model="filterData.priority">
                                    <label for="priority2">2</label>
                                </div>
                                <div class="radio radio-warning">
                                    <input type="radio" name="priority3" id="priority3" value="3" ng-model="filterData.priority">
                                    <label for="priority3">3</label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="priority4" id="priority4" value="4" ng-model="filterData.priority">
                                    <label for="priority4">4</label>
                                </div>
                                <div class="radio radio-danger">
                                    <input type="radio" name="priority5" id="priority5" value="5" ng-model="filterData.priority">
                                    <label for="priority5">5</label>
                                </div>
                            </div>
                        </section>
                        <section class="date-filter">
                            <div class="title">Data de Criação</div>
                            <div class="date-filter-content">
                                <md-datepicker md-open-on-focus ng-model="filterDate.createdAtStart" md-placeholder="Data de Início"></md-datepicker>
                                <md-datepicker md-min-date="filterDate.createdAtStart" md-open-on-focus ng-model="filterDate.createdAtEnd" md-placeholder="Data de Finalização"></md-datepicker>
                            </div>
                        </section>
                        <section class="date-filter">
                            <div class="title">Data Agendada</div>
                            <div class="date-filter-content">
                                <md-datepicker md-open-on-focus ng-model="filterDate.interventionStart" md-placeholder="Data de Início"></md-datepicker>
                                <md-datepicker md-min-date="filterDate.interventionStart" md-open-on-focus ng-model="filterDate.interventionEnd" md-placeholder="Data de Finalização"></md-datepicker>
                            </div>
                        </section>
                        <section class="date-filter">
                            <div class="title">Data de Finalização</div>
                            <div class="date-filter-content">
                                <md-datepicker md-open-on-focus ng-model="filterDate.finishedAtStart" md-placeholder="Data de Início"></md-datepicker>
                                <md-datepicker md-min-date="filterDate.finishedAtStart" md-open-on-focus ng-model="filterDate.finishedAtEnd" md-placeholder="Data de Finalização"></md-datepicker>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>