<div class="panel">
    <div class="tabbable-line">
        <ul id="lefttopmenutabs" role="tablist" class="nav nav-tabs">
            <a ng-href="{{tab.location}}" ng-repeat="tab in cPanelCtrl.tabs" data-toggle="tab" data-tooltip="{{tab.tooltip}}" ng-click="cPanelCtrl.setActiveTab(tab.id, tab.mapVisibility)" class="nav-item nav-link tooltip-bl" ng-class="{active: cPanelCtrl.isActiveTab({{tab.id}})}" >
                <i class="my-icon {{tab.iconClass}}"></i>
            </a>
            <span>
                <button type="button" ng-click="cPanelCtrl.hidePanel()" class="btn btn-secondary btn-circle btn-hide">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </span>
        </ul>
        <div id="tabcontent" class="tab-content">
            <div id="layers" role="tabpanel" class="tab-pane" ng-class="{active: cPanelCtrl.isActiveTab(1)}">
                <layers-tab></layers-tab>
            </div>
            <div id="legenda" role="tabpanel" class="tab-pane" ng-class="{active: cPanelCtrl.isActiveTab(2)}">
                <legends-tab></legends-tab>
            </div>
            <div id="inter" role="tabpanel" class="tab-pane" ng-class="{active: cPanelCtrl.isActiveTab(3)}">
                <interventions-tab></interventions-tab>
            </div>
        </div>
    </div>
</div>