<section>
    <div class="clear-filter-button" style="height: 5vh; text-align: right;">
        <button type="button" ng-click="intTabCtrl.resetFilter()" class="btn btn-sm btn-success">Limpar Filtros</button>
    </div>
    <div class="inter-container">
        <div class="title"><b>Filtos de Intervenção</b></div>
        <section class="radio-filter">
            <div class="title">Parque</div>
            <div class="radio-filter-content">
                <div class="radio radio-primary">
                    <input type="radio" name="parque" id="parque1" value="pedras_salgadas" ng-model="filterData.parque">
                    <label for="parque1">Pedras Salgadas - Spa & Nature Park</label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" name="parque" id="parque2" value="vidago_palace" ng-model="filterData.parque">
                    <label for="parque2">Palace Vidago Hotel</label>
                </div>
            </div>
        </section>
        <section class="input-filter">
            <div class="title">Árvore</div>
            <div class="input-filter-content">
                <div class="input-group input-group-sm" style="width: 50%">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-tree"></i></span>
                    <input type="text" ng-pattern="/^(\d)+$/" class="form-control" ng-model="filterData.id_tree" placeholder="Identificador"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </section>
        <section class="radio-filter">
            <div class="title">Estado</div>
            <div class="radio-filter-content-inline">
                <div class="radio radio-primary">
                    <input type="radio" name="estado" id="estado_aberta" value="aberta" ng-model="filterData.state">
                    <label for="estado_aberta">Aberta</label>
                </div>
                <div class="radio radio-danger">
                    <input type="radio" name="estado" id="estado_fechada" value="fechada" ng-model="filterData.state">
                    <label for="estado_fechada">Fechada</label>
                </div>
            </div>
        </section>
        <section class="input-filter">
            <div class="title">Tipo de Intervenção</div>
            <div class="input-filter-content">
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                {{intTabCtrl.selInterType}} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item" ng-repeat="type in intTabCtrl.interTypes" ng-click="intTabCtrl.setInterType(type)"><a>{{type}}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="radio-filter">
            <div class="title">Prioridade</div>
            <div class="radio-filter-content-inline">
                <div class="radio radio-primary">
                    <input type="radio" name="priority1" id="priority1" value="1" ng-model="filterData.priority">
                    <label for="priority1">1</label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" name="priority2" id="priority2" value="2" ng-model="filterData.priority">
                    <label for="priority2">2</label>
                </div>
                <div class="radio radio-warning">
                    <input type="radio" name="priority3" id="priority3" value="3" ng-model="filterData.priority">
                    <label for="priority3">3</label>
                </div>
                <div class="radio radio-danger">
                    <input type="radio" name="priority4" id="priority4" value="4" ng-model="filterData.priority">
                    <label for="priority4">4</label>
                </div>
                <div class="radio radio-danger">
                    <input type="radio" name="priority5" id="priority5" value="5" ng-model="filterData.priority">
                    <label for="priority5">5</label>
                </div>
            </div>
        </section>
        <section class="date-filter">
            <div class="title">Data de Criação</div>
            <div class="date-filter-content">
                <md-datepicker md-open-on-focus ng-model="filterDate.createdAtStart" md-placeholder="Data de Início"></md-datepicker>
                <md-datepicker md-min-date="filterDate.createdAtStart" md-open-on-focus ng-model="filterDate.createdAtEnd" md-placeholder="Data de Finalização"></md-datepicker>
            </div>
        </section>
        <section class="date-filter">
            <div class="title">Data Agendada</div>
            <div class="date-filter-content">
                <md-datepicker md-open-on-focus ng-model="filterDate.interventionStart" md-placeholder="Data de Início"></md-datepicker>
                <md-datepicker md-min-date="filterDate.interventionStart" md-open-on-focus ng-model="filterDate.interventionEnd" md-placeholder="Data de Finalização"></md-datepicker>
            </div>
        </section>
        <section class="date-filter">
            <div class="title">Data de Finalização</div>
            <div class="date-filter-content">
                <md-datepicker md-open-on-focus ng-model="filterDate.finishedAtStart" md-placeholder="Data de Início"></md-datepicker>
                <md-datepicker md-min-date="filterDate.finishedAtStart" md-open-on-focus ng-model="filterDate.finishedAtEnd" md-placeholder="Data de Finalização"></md-datepicker>
            </div>
        </section>
    </div>
</section>